<h1>新規クエスト作成</h1>

<%= form_with(model: @quest, local: true) do |f| %>

  <p>
    <%= f.label :title, "タイトル" %><br>
    <%= f.text_field :title %>
  </p>

  <p>
    <%= f.label :description, "説明文" %><br>
    <%= f.text_area :description, rows: 5 %>
  </p>

  <p>
    <%= f.label :exp_reward, "獲得経験値" %><br>
    <%= f.number_field :exp_reward %>
  </p>

  <p>
    <%= f.submit "作成する" %>
  </p>

<% end %>

<p>
  <%= link_to "一覧に戻る", quests_path %>
</p>
